@import 'partials/variables';

.pageError{
  
  .errorContainer{
    height: 50vh;
    padding: 0 1rem;
    background-color: $whiteColor;
    
    display: flex;
    justify-content: center;
    flex-direction: column;

    a{
      color: $orangeColor;
    }
  }
}

@media (min-width: 800px) {
  .pageError{
    .errorContainer{
      align-items: flex-start;
      padding: 0 3rem;
    }
  }
}